.homepage {
    text-align: center;
    justify-content: center;
    display: flex; 
    /* padding-top: 90px; */
    /* padding-bottom: 90px;  */
    background-image: url(./slider1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    margin-top: 3%;
    height: 650px;
}

.nav-welcome {
    backdrop-filter: blur(20px);
    height:60px;
    border-bottom: 2px solid dimgray;
    
}
.navbar-brand img{
    width:100%;
    height:40px
}