.dashboard-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.dashboard-header{
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.dashboard-sidemenu{
    
}
.sidemenu-btn{
    background-color:#ff9809;
    color:black
}
.ant-menu .ant-menu-item{
    color:black;
    font-weight: bolder;
}
.ant-menu-light .ant-menu-item-selected{
    background-color:#f0ece6;
}

.dashboard-page-content{
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
}
.ant-space-align-center {
    align-items:flex-start;
}
