/* *{
    font-size: 19px;
} */
.login-popup{
    display: flex;
}
.user-login{
    margin-top: 10%;

}
.login-icon{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
